.lm{
    display:inline-block;
}

.lmk{
    padding-left: 350px;
    display:inline-block;
    
   
}

.lmk1{
    padding-left: 406px;
    display:inline-block;
}

.lmk2{
    padding-left: 450px;
    display:inline-block;
}