h2{
    color:blueviolet;
}

.sign{  
    padding:10px;
    width:395px;
    height:430px;
    margin-left: auto;
    margin-right: auto;
    margin-top:50px;
    border:1px solid gray;   
}

#fname, #lname{
    height: 40px;
    width:170px;
    
}
 
#email,#phone{
    height: 40px;
    width:358px;
   
   
}
#pswd,#cpswd {
    height: 40px;
    width:358px;
}

#btn{
    height: 40px;
    width:100px;
}

